<div class ="container">
  <div class = "org-stats">
    <h1> <%= @org.name %></h1>
    <h3> <%= @org.city %></h3>

      <% lat = @org.latitude %>
      <% long = @org.longitude %>
    <h3>This Organization's needs</h3></br>
    <div class = "need-list">
      <% if @org.needs.count > 0 %>
        <%@org.needs.each do |need| %>
          <p><%=need.name %></p>
          <div class="rect green" data-percent="<%=need.amount.to_i%>">
          </div>
        <%end %>
      <%end %>
    </div>
    <p><%= link_to "Back to Organizations", organizations_path %></p>
  </div>
    <div  class = "show-map">
      <div id="map" >
      </div>
    </div>
</div>

<script>
  var lat = <%= lat  %>
  var long = <%= long  %>
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVcWT4c5ykv24rEk2w9kRrCaUOfNCf6is&callback=initMap">
</script>
