<div class = "admin-container">
  <div class= 'org-form'>
    <% if current_user.organizations.count < 1 %>
      <h3>Create your Organization</h3>
      <%= form_for [@organization] do |f| %>
        <p><%= f.label :name%>
          <%= f.text_field :name , :required => true%></p>
        <p><%= f.label :state%>
        <%= f.text_field :state, :required => true%></p>
        <p><%= f.label :city%>
        <%= f.text_field :city, :required => true%></p>
        <p><%= f.label :address%>
        <%= f.text_field :address, :required => true %></p>
        <p><%= f.label :zipcode%>
        <%= f.text_field :zipcode, :required => true %></p>
        <%= f.hidden_field :user_id, :value => current_user.id%>
        <%= f.submit "Create Organization" %>
      <% end %>
    <% else %>
        <% current_user.organizations.each do |org|%>
          <h2><%=org.name.capitalize%> </h2>> <span><%=org.state.upcase%></span>> <span><%=org.city.capitalize%></span>
          <p><%= link_to "Delete #{org.name}", organization_path(org), method: "delete" %></p>
        <% end %>
    </div>

  <div class = "need-form">
    <h4>Fill Out Your Organization's Needs</h4>
    <%= form_for [:admin, @need] do |f| %>
      <p><%= f.label :name %>
      <%= f.text_field :name%></p>
      <p><%= f.label :category %>
      <%= f.select :category_id, options_for_select( @categories.collect{ |category| ["#{category.name}", category.id] } ), class: 'form-control' %></p>
      <p><%= f.label :amount %>
      <%= f.number_field :amount%></p>
      <%= f.hidden_field :organization_id, :value => Organization.find_by(user_id: current_user.id).id %>
      <p><%= f.submit "Create Need"%></p>
    <% end %>
    <% end %>
  </div>

  <div class = 'need-card-container'>
    <% if !@needs.nil? %>
      <% @needs.each do |need| %>
        <div class = 'need-card'>
          <p><%= need.name %></p>
          <p><%= need.category.name%></p>
          <div class="rect red" data-percent="<%=need.amount%>">
        </div>
        <p> <%= link_to "Delete", admin_need_path(need), method: "delete" %>   </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
