
<!DOCTYPE html>
<html>
  <head>
    <title>Buena Accion</title>
      <meta charset="utf-8">
  <title>BizPage Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <link href="css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Molengo&amp;subset=latin-ext" rel="stylesheet">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <style media="screen">
    </style>
  </head>
  <body >
  <header id="header">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <div class="container-fluid">
      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Buena Accion</a></h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/organizations"> <i class="fas fa-home fa-2x"></i></a></li>
            <% if current_user %>
              <li>Signed in as <strong><%= current_user.name %></strong></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            <% else %>
              <li><%= link_to "Nonpofit Sign in", "/auth/google_oauth2?role=1" ,id: "sign_in" %></li>
              <li>  <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
            <% end %>
          <li class="menu-has-children"><a href="">Contact</a>
            <ul>
              <li><a href="https://www.github.com/zacharylandes" target="_blank">Github</a></li>
              <li><a href="https://www.linkedin.com/in/zacharylandes/"  target="_blank">Linked In</a></li>
              <li><a href="mailto:zach.g.landes@gmail.com"  target="_blank">Gmail</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header>

    <div class='index-section'>
        <%= yield %>
    </div>
    </section>
    <footer id="footer">
      <a href="https://www.github.com/zacharylandes"><i class="fab fa-github fa-3x"></i></a>
      <i class="fab fa-github fa-3x"></i>
      <i class="fab fa-github fa-3x"></i>
   </footer>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
